body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.status-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}

.status,.id{
  font-weight: bold;
  font-size: 50px;
  color: rgb(50, 117, 59);
}

.whoami{
  margin-left: 4.5%;
  border-radius: 28px;
  padding: 10px;
}

.active{
  position: absolute;
  left: 50%;
  top: 4.2%;
  font-size: 50px;
  color: rgb(50, 117, 59);;
}

.msg{
  border: 2px solid rgb(50, 117, 59);
  width: 40%;
  margin-left:89px;
}

.chat-msg{
  background-color: antiquewhite;
  padding-bottom: 5px;
  border: 1px solid ;
  


}
.name{
  font-size: 20px;
  font-weight: bold;
  color: rgb(52, 70, 99);
  
}

.send-wrap{
  position: absolute;
  bottom: 28%;
  left: 50%;
}

.send{
  font-size: large;
  color: rgb(50, 117, 59);
  border-radius: 28px;
  padding: 5px;
  
}

.ans{
  border: none;
  border-bottom: 2px solid rgb(50, 117, 59);
}

.onlineuser{
  position: absolute;
  left: 50%;
  top: 20%;
  border: 1px solid rgb(50, 117, 59);
  height: fit-content;
}
